<section id="about">

   <div class="row">

      <div class="three columns">

         <img class="profile-pic"  src="images/profilepic.jpg" alt="" />

      </div>

      <div class="nine columns main-col">

         <h2>About Me</h2>

         <p>Lorem ipsum dolor sit amet,
           consectetur adipisicing elit, sed do eiusmod tempor
           incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>

         <div class="row">

            <div class="columns contact-details">

               <h2>Contact Details</h2>
               <p class="address">
            <span>Michael Power</span><br>
            <span>6 the Ring Bennettsbridge<br>
                  Co.Kilkenny
                  </span><br>
            <span>086 8612660</span><br>
                  <span>powerm3@tcd.ie</span>
          </p>

            </div>

            <div class="columns download">
               <p>
                  <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
               </p>
            </div>

         </div> <!-- end row -->

      </div> <!-- end .main-col -->

   </div>

</section> 
