<section id="about">

   <div class="row">

      <div class="three columns">

         <img class="profile-pic"  src="images/profilepic.jpg" alt="" />

      </div>

      <div class="nine columns main-col">

         <h2>About Me</h2>

         <p>I'm a developer turned <span>It Auditor</span> who originates from Kilkenny and Studied in Trinity College Dublin
           . Let's <a class="smoothscroll" href="#about">start scrolling</a>
         and learn more <a class="smoothscroll" href="#about">about me</a>.
         </p>

         <div class="row">

            <div class="columns contact-details">

               <h2>Contact Details</h2>
               <p class="address">
            <span>Michael Power</span><br>
            <span>6 the Ring Bennettsbridge<br>
                  Co.Kilkenny
                  </span><br>
            <span>086 8612660</span><br>
                  <span>powerm3@tcd.ie</span>
          </p>

            </div>

            <div class="columns download">
               <p>
                  <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
               </p>
            </div>

         </div> <!-- end row -->

      </div> <!-- end .main-col -->

   </div>

</section>
