<section id="about">

   <div class="row">

      <div class="three columns">

         <img class="profile-pic"  src="static/images/linkedin_image.jpg" alt="" />

      </div>

      <div class="nine columns main-col">

         <h2>About Me</h2>

         <p>Currently working with
           Deloitte as an IT Auditor and Security Analyst within Risk Advisory. Originating from Kilkenny and Studied Integrated Computer
           Science in Trinity College Dublin with experience in Software Development. My Interest range from Cloud Computing, Information Security and
           areas of Pyschology.
         </p>

         <div class="row">

            <div class="columns contact-details">

               <h2>Contact Details</h2>
               <p class="address">
            <span>Michael Power</span><br>
                  <span>powerm3@tcd.ie</span>
          </p>

            </div>

            <div class="columns download">
               <p>
              <!--  <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a> -->
               </p>
            </div>

         </div> <!-- end row -->

      </div> <!-- end .main-col -->

   </div>

</section>
