<section id="resume">

   <!-- Education
   ----------------------------------------------- -->
   <div class="row education">

      <div class="three columns header-col">
         <h1><span>Education</span></h1>
      </div>

      <div class="nine columns main-col">

         <div class="row item">

            <div class="twelve columns">

               <h3>Trinity College Dublin</h3>
               <p class="info">BA (mod) Integrated Computer Science <span>&bull;</span> <em class="date">May 2018</em></p>

               <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
               Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
               ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
               Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
               </p>

            </div>

         </div> <!-- item end -->



      </div> <!-- main-col end -->

   </div> <!-- End Education -->


   <!-- Work
   ----------------------------------------------- -->
   <div class="row work">

      <div class="three columns header-col">
         <h1><span>Work</span></h1>
      </div>

      <div class="nine columns main-col">

         <div class="row item">

            <div class="twelve columns">

               <h3>Deloitte</h3>
               <p class="info">It Auditor and Security Analyst <span>&bull;</span> <em class="date">September 2018 - Present</em></p>

               <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
               Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
               ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
               Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
               </p>

            </div>

         </div> <!-- item end -->

         <div class="row item">

            <div class="twelve columns">

               <h3>Nicholas Mosse Pottery</h3>
               <p class="info">Tecnical Data Analyst <span>&bull;</span> <em class="date">January 2014 - August 2018</em></p>

               <p>
               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
               nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
               ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat
               </p>

            </div>

         </div> <!-- item end -->

      </div> <!-- main-col end -->

   </div> <!-- End Work -->


   <!-- Skills
   ----------------------------------------------- -->
   <div class="row skill">

      <div class="three columns header-col">
         <h1><span>Skills</span></h1>
      </div>

      <div class="nine columns main-col">

         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
           reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>

     <div class="bars">

        <ul class="skills">
          <li><span class="bar-expand Java"></span><em>Java</em></li>
               <li><span class="bar-expand Python"></span><em>Python</em></li>
         <li><span class="bar-expand C"></span><em>C</em></li>
         <li><span class="bar-expand css"></span><em>CSS</em></li>
         <li><span class="bar-expand html5"></span><em>HTML5</em></li>
               <li><span class="bar-expand Flask"></span><em>Flask</em></li>
                <li><span class="bar-expand SQL"></span><em>SQL</em></li>
       </ul>

     </div><!-- end skill-bars -->

   </div> <!-- main-col end -->

   </div> <!-- End skills -->

</section>
