
<section id="resume">

   <!-- Education
   ----------------------------------------------- -->
   <div class="row education">

      <div class="three columns header-col">
         <h1><span>Education</span></h1>
      </div>

      <div class="nine columns main-col">

         <div class="row item">

            <div class="twelve columns">

               <h3>Trinity College Dublin</h3>
               <p class="info">BA (mod) Integrated Computer Science <span>&bull;</span> <em class="date">May 2018</em></p>

               <p>
               Studied Computer Science at Trinity College Dublin where I took modules in Functional Programming, Telecommunications
               and Formal Verification to name a few. My finl year project consisted of Surveying Web Servers within Trinity College Dublin,
               you can find the code and report of that project <a href="https://github.com/mikeyPower/final-year-project">here</a>.
               </p>

            </div>

         </div> <!-- item end -->



      </div> <!-- main-col end -->

   </div> <!-- End Education -->


   <!-- Work
   ----------------------------------------------- -->
   <div class="row work">

      <div class="three columns header-col">
         <h1><span>Work</span></h1>
      </div>

      <div class="nine columns main-col">

         <div class="row item">

            <div class="twelve columns">

               <h3>Deloitte</h3>
               <p class="info">It Auditor and Security Analyst <span>&bull;</span> <em class="date">September 2018 - Present</em></p>

               <p>
  Assisting in specialised information technology audit services to deliver risk and
  controls assessments. Providing audit analytics to extract insights from data
  such as user access logs, as well as
  taking part in third-party assurance to manage risks from the extended
  enterprise. I’ve performed testing around the IT general controls (GITC’s) in
  place for applications and supporting infrastructure. Some areas that I’ve
  provided assistance throughout the testing include logical security, privilege
  access, user access management as well as change management.
               </p>

            </div>

         </div> <!-- item end -->

         <div class="row item">

            <div class="twelve columns">

               <h3>Nicholas Mosse Pottery</h3>
               <p class="info">Tecnical Data Analyst <span>&bull;</span> <em class="date">January 2014 - August 2018</em></p>

               <p>
  My primary role at Nicholas Mosse involved managing Nicholas Mosse’s e-
  commerce Website. Tasks included responding to customer queries, uploading
  new products to the online store, creating new webpages, and increasing our
  web page rankings using SEO techniques, along with modifying and managing
  customer/ product database. I also provided data integrity and management
  services when updating legacy site to a new website platform, along with
  assisting in the GDPR compliance.
               </p>

            </div>

         </div> <!-- item end -->

      </div> <!-- main-col end -->

   </div> <!-- End Work -->


   <!-- Skills
   ----------------------------------------------- -->
   <div class="row skill">

      <div class="three columns header-col">
         <h1><span>Skills</span></h1>
      </div>

      <div class="nine columns main-col">

         <p>Throughout my course and professional work I've gained a number of skills across a range of
           languages and framworks. Follow me on <a href="https://github.com/mikeyPower/">github</a> to check out some of my projects.
         </p>

     <div class="bars">

        <ul class="skills">
          <li><span class="bar-expand java"></span><em>Java</em></li>
               <li><span class="bar-expand python"></span><em>Python</em></li>
         <li><span class="bar-expand c"></span><em>C</em></li>
               <li><span class="bar-expand flask"></span><em>Flask</em></li>
                <li><span class="bar-expand sql"></span><em>SQL</em></li>
                <li><span class="bar-expand haskell"></span><em>Linux Shell Scripting</em></li>

       </ul>

     </div><!-- end skill-bars -->

   </div> <!-- main-col end -->

   </div> <!-- End skills -->

</section>
